/* .login-component {
  background: rgba(103, 27, 224, 0.342);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2) , 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin: 100px auto;
  max-width: 360px;
  padding: 45px;
  position: relative;
  text-align: center;
  width: 360px;
  z-index: 1;
}

.login-component input {
  border: 0;
  box-sizing: border-box;
  font-size: 14px;
  margin: 0 0 auto;
  outline: 0;
  padding: 15px;
  width: 100%;
}
 */

#root {
  background-color: rgba(128, 128, 128, 0.185);
}